
/* ==============  DS-Digitals  ================== */
@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 400;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGI.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: italic;
    font-weight: 400;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGII.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 700;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGIB.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: italic;
    font-weight: 700;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGIT.woff') format('woff');
}

/* ==============  Comming Soon Style  ================== */
html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a:focus, a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
svg {
    vertical-align: middle;
}
input {
    outline-width: 0;
    outline-offset: 0;
    outline: 0;
    border: none;
    outline: none;
    width: 100%;
}
textarea {
    outline-width: 0;
    outline-offset: 0;
    outline: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body {
    font-family: "Syne", sans-serif;
    font-family: "Montserrat", sans-serif;
    height: 100%;
}
.row {
    --bs-gutter-x: 30px;
}
.container {
    width: 1290px;
    margin: auto;
    padding: 0 15px;
    height: 100%;
}
#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/comming-soon-bg.jpg");
}
.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
    height: 100%;
}
.layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
}
h1 {
    white-space: nowrap;
    overflow: hidden;
    font-size: 80px;
    font-weight: 600;
    font-family: "Syne", sans-serif;
    font-style: normal;
    text-align: center;
    color: #FFF;
    transition: all ease-in-out .35s;
    position: relative;
    z-index: 1;
    border-right: solid 5px rgba(255, 255, 255, .75);
    height: 100px;
}
#countdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.class-list-1 {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.class-list-1 span {
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    line-height: 80px;
    font-family: 'DS-Digital', sans-serif;
    color: #FFF;
    display: block;
}
.Desc-1 {
    max-width: 600px;
    font-size: 18px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color: #FFF;
}
.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 280px;
    height: auto;
}
.copy-social {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 30px;
    height: 100%;
    position: relative;
}
.social-icon-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.social-icon-1 a {
    font-size: 22px;
    color: #FFF;
}
.copy-right {
    font-size: 18px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color: #FFF;
    text-align: center;
}
.copy-right a {
    color: #FFF;
}

/* ==============  Responsive Design  ================== */
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1290px;
    }
}
@media (min-width:992px) and (max-width:1140px) {
    .container {
        width: 100%;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .container {
        width: 100%;
    }
    h1 {
        font-size: 48px;
        height: 55px;
    }
    .class-list-1 {
        font-size: 18px;
    }
    #countdown {
        padding-top: 40px;
    }
    .logo {
        padding: 20px 0;
    }
}
@media (max-width:768px) {
    .container {
        width: 100%;
    }
    #countdown {
        padding: 40px 0;
    }
    h1 {
        font-size: 26px;
        line-height: 34px;
        height: 30px;
    }
    .class-list-1 span {
        font-size: 60px;
        line-height: 50px;
    }
    .class-list-1 {
        font-size: 16px;
    }
    .Desc-1 {
        font-size: 16px;
    }
    .logo img {
        width: 200px;
        height: auto;
    }
    .copy-right {
        font-size: 16px;
    }
    .top-section {
        padding: 16px 0;
    }
    .row {
        --bs-gutter-x: 1.5rem;
    }
    .logo {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}
@media (max-width:540px) {
    .container {
        width: 100%;
    }
    #countdown {
        padding: 15px 0;
    }
    h1 {
        font-size: 26px;
        line-height: 30px;
        height: 30px;
    }
    .class-list-1 span {
        font-size: 60px;
        line-height: 50px;
    }
    .class-list-1 {
        font-size: 16px;
    }
    .Desc-1 {
        font-size: 16px;
    }
    .logo img {
        width: 200px;
        height: auto;
    }
    .copy-right {
        font-size: 16px;
    }
    .top-section {
        padding: 20px 0;
    }
    .row {
        --bs-gutter-x: 1.5rem;
    }
    .logo {
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .layout-1 .col-3 {
        width: 50%;
    }
    .layout-1 {
        padding: 20px 0;
    }
}